---
layout: default
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <footer class="post-footer">
      {% if page.share %}
      <div class="bdsharebuttonbox">
        <a href="#" class="fa fa-weixin" data-cmd="weixin" title="Share on Wechat"></a>
        <a href="#" class="fa fa-qzone" data-cmd="qzone" title="Share on QZone"></a>
        <a href="#" class="fa fa-weibo" data-cmd="tsina" title="Share on Weibo"></a>
        <a href="#" class="fa fa-tencent-weibo" data-cmd="tqq" title="Share on t.qq"></a>
        <a href="#" class="fa fa-renren" data-cmd="renren" title="Share on Renren"></a>
        <a href="#" class="fa fa-twitter" data-cmd="twi" title="Share on Twitter"></a>
        <a href="#" class="fa fa-facebook" data-cmd="fbook" title="Share on Facebook"></a>
      </div>
      <script>
      window._bd_share_config = {
        "common": {
            "bdStyle": "3",
            "bdSize": "32"
        },
        "share": {},
        "image": {
            "viewList": ["weixin", "qzone", "tsina", "tqq", "renren", "twi", "fbook"],
            "viewText": "Share on: ",
            "viewSize": "16"
        }
      };
      with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];
      </script>
      {% endif %}

      {% if page.comments %}
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mdluo'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      {% endif %}

    </footer>

</div>
